<a href="https://colab.research.google.com/github/muhammaddanissalam-07/muhammaddanissalam-danis-s-first-python/blob/main/Tugas%20M.%20Danis%20Salam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Latihan 1

In [2]:

# NPM utama
npm_saya = 3552002527

# 4 NPM lain (sebelum / setelah, sesuai data yang kamu berikan)
npm_lain = [3552002511, 3552002529, 3552002567, 3552002535]

# Membuat array berisi NPM saya + 4 NPM lainnya
npm_array = [npm_saya] + npm_lain

# Menampilkan isi array
print("Isi Array NPM:")
for npm in npm_array:
    print(npm)

Isi Array NPM:
3552002527
3552002511
3552002529
3552002567
3552002535

Latihan 2

In [5]:
angka = [ 10, 20, 30, 40, 50]
angka.append(27)
print("Array setelah penambahan elemen:", angka)
angka.pop(0)
print("Array setelah penghapusan elemen:", angka)

Array setelah penambahan elemen: [10, 20, 30, 40, 50, 27]
Array setelah penghapusan elemen: [20, 30, 40, 50, 27]

Latihan 3

In [6]:
Fakultas = ["Teknik dan Informatika", "Ilmu kesehatan", "Ekonomi dan Sosial"]
for Banyak_Fakultas in Fakultas:
    print("Fakultas" ,Banyak_Fakultas)

Fakultas Teknik dan Informatika
Fakultas Ilmu kesehatan
Fakultas Ekonomi dan Sosial

Latihan 4

In [9]:

# Operasi Matematika Sederhana

angka = [2500, 5000, 7500, 10000, 20000]

print("Harga total:", sum(angka))
print("Harga dengan nilai tertinggi:", max(angka))
print("Harga dengan nilai termurah:", min(angka))

Harga total: 45000
Harga dengan nilai tertinggi: 20000
Harga dengan nilai termurah: 2500

Latihan 5

In [ ]:

Harga = [2500, 5000, 7500, 10000, 20000]
print("Harga total:", sum(Harga))
print("Harga dengan nilai termahal:", max(Harga))
print("Harga dengan nilai termurah:", min(Harga))

Latihan 6

In [ ]:

# Array berisi harga barang (dalam rupiah)
harga_barang = [15000, 25000, 10000, 50000, 30000]

# Menghitung jumlah elemen dalam array
jumlah_elemen = len(harga_barang)

print("Daftar harga barang:", harga_barang)
print("Jumlah elemen dalam array:", jumlah_elemen)